			<form role="form">
				<div class="form-group">
					<label for="comment">The site is under construction. Please, leave your message below, and we will response asap:</label>
					<textarea ng-model="message" class="form-control" rows="10" id="comment" maxlength="200" onkeypress="isNotMax(this)"></textarea>
				</div>
				<button ng-click="send()" type="button" class="btn btn-outline-inverse btn-lg">
					<span class="glyphicon glyphicon-envelope"></span> Send
				</button>
				<button ng-click="clear()" type="button" class="btn btn-outline-inverse btn-lg">
					<span class="glyphicon glyphicon-pencil"></span> Clear
				</button>
			</form>
			<p>Number of characters left: <span ng-bind="left()"></span></p>
	