<!DOCTYPE html>
<html lang="en">
<head>
    <title>BrandUP</title>
	<meta charset="utf-8"> 
	<link rel="stylesheet" type="text/css" href="/resources/assets/css/vendor/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/resources/assets/css/style.css"/>
</head>
<body ng-app="firstApp" ng-controller="firstController">
	<div class="container">
			<div class="row">
				<div class="col-lg-9">BrandUP - advertisement services</div>
				<div class="col-lg-3">(0562) 77-77-77</div>
			</div>
			<form role="form">
				<div class="form-group">
					<label for="comment">The site is under construction. Please, leave your message below, and we will response asap:</label>
					<textarea ng-model="message" class="form-control" rows="10" id="comment" maxlength="200" onkeypress="isNotMax(this)"></textarea>
				</div>
				<button ng-click="send()" type="button" class="btn btn-outline-inverse btn-lg">
					<span class="glyphicon glyphicon-envelope"></span> Send
				</button>
				<button ng-click="clear()" type="button" class="btn btn-outline-inverse btn-lg">
					<span class="glyphicon glyphicon-pencil"></span> Clear
				</button>
			</form>
			<p>Number of characters left: <span ng-bind="left()"></span></p>
	</div>
	<script src="/resources/assets/js/vendor/jquery.min.js"></script>
	<script src="/resources/assets/js/vendor/angular.min.js"></script>
	<script src="/resources/assets/js/vendor/bootstrap.min.js"></script>
	<script src="/resources/assets/js/vendor/ui-bootstrap.min.js"></script>
	<script src="/resources/assets/js/firstApp.js"></script>
	<script src="/resources/assets/js/firstController.js"></script>
	<script> var baseURL = window.location.href</script>
</body>
</html>