
body {
    background-color: #563d7c;
    color: #fff;
}

.row {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: x-large;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    text-align: left;
    height: 30px;
    line-height: 50px;
}

.col-lg-3 {
    text-align: right;
}

.modal-content {
    color: black;
    text-align: center;
}

.modal-footer {
    text-align: center;
}

.help-block {
    color: crimson;
}



