<div ng-controller="ContactFormCtrl" id="contactForm" class="modal fade bs-example-modal-sm" data-backdrop=""
     tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Форма обратной связи</h4>
            </div>
            <div class="modal-body">
                <!-- SHOW ERROR/SUCCESS MESSAGES -->
                <div id="messages" class="alert alert-success" ng-show="messages" ng-bind="messages"></div>

                <!-- FORM -->
                <form name="form" novalidate role="form">

                    <!-- NAME -->
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Ваше имя*" ng-model="name" required/>
                        <span class="help-block" ng-show="submitted && form.name.$error.required">Введите имя</span>
                    </div>

                    <!-- TELEPHONE -->
                    <div class="form-group">
                        <input type="tel" name="phone" class="form-control"
                               placeholder="Ваш телефон" ng-model="phone" ng-maxlength="10" ng-minlength="10"
                               ng-pattern="/^\d{10}$/"/>
                        <span class="help-block"
                              ng-show="submitted && form.phone.$invalid">Телефон должен содержать 10 цифр</span>
                    </div>

                    <!-- EMAIL -->
                    <div class="form-group">
                        <input type="email" name="email" class="form-control"
                               placeholder="Ваш email*" ng-model="email" required/>
                        <span class="help-block"
                              ng-show="submitted && form.email.$error.required">Введите email</span>
                        <span class="help-block"
                              ng-show="submitted && form.email.$error.email">Неверный формат email</span>
                    </div>

                    <!-- MESSAGE -->
                    <div class="form-group">
                        <textarea name="message" ng-model="message" class="form-control"
                                  placeholder="Ваше сообщение*" rows="7" maxlength="255"
                                  onkeypress="isNotMax(this)" required></textarea>
                        <span class="help-block"
                              ng-show="submitted && form.message.$error.required">Введите сообщение</span>
                    </div>
                </form>

            </div>
            <!-- SUBMIT BUTTON -->
            <div class="modal-footer">
                <button ng-click="submit(form)" type="button" class="btn btn-primary btn-lg">Отправить</button>
            </div>

        </div>
    </div>
</div>