<!DOCTYPE html>
<html>
<head>
    <title>BrandUP</title>
	<!-- build:js assets/js/script.min.js -->
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="assets/js/firstApp.js"></script>
	<script src="assets/js/firstController.js"></script>
	<!-- endbuild -->
	<!-- build:css assets/css/style.min.css -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
	<!-- endbuild -->
</head>
<body ng-app="firstApp" ng-controller="firstController">
	<h1>BrandUP - advertisement services<span id="phone"> - (0562)77-77-77</span></h1>
	<br />
	<h3>The site is under construction. Please, leave your message below, and we will response asap:</h3>
	<textarea ng-model="message" cols="40" rows="10"></textarea>
	<p>
		<button ng-click="save()">Send</button>
		<button ng-click="clear()">Clear</button>
	</p>
	<p>Number of characters left: <span ng-bind="left()"></span></p>
</body>
</html>